extends layout

block content
    .spacer
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                a(class='btn btn-md btn-primary' href='/manage/categories/add') New Category
                h1= title
                    small
                        span  |
                            a(href='/manage/articles')  Manage Articles
                br
                table(class='table table-striped')
                    tr
                        th Category Title
                        th
                            each category, i in categories
                                tr
                                    td #{category.title}
                                    td
                                        a(class='btn btn-xs btn-default pull-right' href='/manage/categories/edit/#{category._id}') Edit
                != messages()