extends layout

block content
    .spacer
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                a(class='btn btn-md btn-primary' href='/manage/categories/add') New Category
                h1= title
                    small
                        span  |
                            a(href='/manage/articles')  Manage Articles
                br
                table(class='table table-striped')
                    tr
                        th Category Title
                        th
                            tr
                                td TITLE
                                td
                                    a(class='btn btn-xs btn-default' href='/manage/categories/edit/1') Edit
                != messages()